 <% @page_title = "Jokes" %>

<h1><% if @current_user != nil %>Hello, <%= @current_user.username %>,<% end %> Here's your jokes!</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Joke Name</th>
      <th>Joke Body</th>
      <th>Length</th>
      <th>Score</th>
      <th>Joke Write Date</th>
      <th>Date Created At</th>
      <th>Date Updated At</th>
      <th>Action Options</th>
    </tr>
  </thead>

  <tbody>
    <% @jokes.each do |joke| %>
    <tr>
        <td><%= joke.name %></td>
        <td><%= truncate(strip_tags(joke.bodyText), :length=> 100) %></td>
        <td><%= lengthConverter(joke.length) %> </td>
        <td><%= joke.score %>/10</td>
        <td><%= writeTimeConverter(joke.writeDate) %></td>
        <td><%= timeConverter(joke.created_at) %></td>
        <td><%= timeConverter(joke.updated_at) %></td> 
        <td><%= link_to 'Show', joke, :class => 'btn btn-primary' %>
        <%= link_to 'Edit', edit_joke_path(joke), :class => 'btn btn-success' %>
        <%= link_to 'Destroy', joke, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Joke', new_joke_path, class: "btn btn-primary btn-lg" %>
