<h1>Listing jokes</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Joke Name</th>
      <th>Joke Body</th>
      <th>Length</th>
      <th>Score</th>
      <th>Date Created At</th>
      <th>Date Updated At</th>
      <th>Action Options</th>
    </tr>
  </thead>

  <tbody>
    <% @jokes.each do |joke| %>
    <tr>
        <td><%= joke.name %></td>
        <td><%= joke.bodyText %></td>
        <td>some length</td>
        <td><%= joke.score %>/10</td>
        <td><%= timeConverter(joke.created_at) %></td>
        <td><%= timeConverter(joke.updated_at) %></td> 
        <td><%= link_to 'Show', joke %>
        <%= link_to 'Edit', edit_joke_path(joke) %>
        <%= link_to 'Destroy', joke, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Joke', new_joke_path, class: "btn btn-primary btn-lg" %>
