<!-- <p id="notice"><%= notice %></p> redundant because I already did bootstrap flash for layout
 --> 
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Joke Name</th>
      <th>Joke Body</th>
      <th>Length</th>
      <th>Score</th>
      <th>Joke Write Date</th>
      <th>Date Created At</th>
      <th>Date Updated At</th>
    </tr>
  </thead>

  <tbody>
    <tr>
        <td><%= @joke.name %></td>
        <td><%= @joke.bodyText %></td>
        <td><%= lengthConverter(@joke.length) %> </td>
        <td><%= @joke.score %>/10</td>
        <td><%= @joke.write_date %></td>
        <td><%= timeConverter(@joke.created_at) %></td>
        <td><%= timeConverter(@joke.updated_at) %></td> 
    </tr>
  </tbody>
</table>





<%= link_to 'Edit', edit_joke_path(@joke) %> |
<%= link_to 'Back', jokes_path %>
