<% @page_title = @joke.name %>


<div class="form-actions">
    <%= link_to 'Edit', edit_joke_path(@joke), :class => 'btn btn-success'  %> |
    <%= link_to 'Back', jokes_path, :class => 'btn btn-primary' %>
</div>

<div class="showInterface">

  <dl class="dl-horizontal">
    
    <dt></dt>
    <dd><strong><span class="jokeName"><%= @joke.name %></span></strong></dd>
    <dt><strong>Body</strong></dt>
    <dd>
    <pre>
    <%= @joke.bodyText %>
    </pre>
    </dd>
    <div class="relevantInfo">
    <dt><strong>Length</strong></dt>
    <dd><%= lengthConverter(@joke.length) %></dd>
    
    <dt><strong>Score</strong></dt>
    <dd><%= @joke.score %> out of 10</dd>
    
    <dt><strong>Write Date</strong></dt>
    <dd><%= writeTimeConverter(@joke.writeDate) %></dd>
    
    <dd>  ******************************************************************************************************</dd>

    </div>
    
    <dt><strong>Created</strong></dt>
    <dd><%= timeConverter(@joke.created_at) %></dd>
      <dt><strong>Updated</strong></dt>
    <dd><%= timeConverter(@joke.updated_at) %></dd>

  </dl>

</div>