<!DOCTYPE html>  
<html>  
<head>    

<% if @page_title %>
  <title> Jest Notes | <%= @page_title %> </title>
<% else %>
  <title> Jest Notes </title>
<% end %>

<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
</head>  

<body> 

<%= debug(params) if Rails.env.development? %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
  <span class="brand">Jest Notes</span>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
              <% if current_user %>
                <li><%= link_to "Logout", logout_path %></li>
              <% else %>
                <li><%= link_to "Sign up", sign_up_path %></li>   
                <li><%= link_to "Login", login_path %></li>
              <% end %>
      </ul>
   </div>
 </div>
</nav>

<div class="container">
   <div class="jumbotron">
      <h1>Jest Notes</h1>
      <p>Web/Mobile App to Organize Your Jokes</p>
      <%= link_to "Learn More", about_path, :class => "btn btn-primary btn-lg" %>
   </div>
</div>

<!-- 	<div id="user_nav">  
	  <% if current_user %>  
	    Logged in as <%= current_user.username %>  
	    <%= link_to "Log out", logout_path %>  
	  <% else %>  
	    <%= link_to "Sign up", sign_up_path %> or   
	    <%= link_to "Log in", login_path %>  
	  <% end %>  
	</div>   -->

<hr>

<%= bootstrap_flash %>
  
<%= yield %>  
  
</body>  
</html>  